/* сбрасываем отступ у body */
body {
  margin: 0;
}


/* стили для меню */
.menu {
  /* выравниваем пункты меню по центру */
  text-align: center;
  /* следующие 5 свойств добавляйте когда у вас уже длинная страница */
  /* иначе не увидите Вы, что у Вас меню вверху страницы всегда */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  opacity: 0.8;
  /* конец стилей для фиксированного меню */
}

.menu a {
  text-decoration: none;
  color: black;
  /* чтобы мы могли задать ссылкам ширину и padding */
  display: inline-block;
  width: 100px;
  padding: 20px 40px;
  font-weight: lighter;
}

.menu a:hover {
  background-color: #ccc;
  color: black;
}



/* Для выпадающего меню */
.dropdown:hover button {
  background-color: #ccc;
  color: black;
}

.dropdown {
  display: inline-block;
}

.dropdown button {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 20px 40px;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}



.dropdown-content {
  display: none;
  position: absolute;
  width: 140px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 12px 0;
  width: 100%;
  background-color: white;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* конец стилей для выпадаюего меню */

/* стили для верхнего блока */
.header {
  text-align: center;
  color: white;
  padding: 200px 0;
  background-image: url(polygons.png);
  background-position: top center;
  background-repeat: no-repeat;
  /* имеет смысл задавать только когда мы можем прокручивать нашу страницу */
  background-attachment: fixed;
  /* для фиксированного меню вверху страницы */
  margin-top: 58px;
}


.header p {
  margin: 45px 0;
}

.header a {
  padding: 12px 24px;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  /* задаем отступ от нашей ссылки, но для этого надо задать сделать её inline-block или block */
  /* у меня сделан отступ от тэга p, поэтому здесь я закомментировал */
  /*
  display: inline-block;
  margin-top: 45px;
  */
}

.header a:hover {
  background-color: #b1b1b2;
}

/* конец стилей для верхнего блока */

/* стили для описания компании */

#about-company h2 {
  text-align: center;
}

#about-company {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

#about-company img {
  width: 400px;
  float: right;
  margin: 30px;
  margin-top: 0;
}

/* конец стилей для описания компании */



/* стили для блока с членами команды */

#team {
  text-align: center;
}

.member {
  display: inline-block;
  width: 15%;
  min-width: 280px;
  vertical-align: top;
  margin: 20px 10px;
  text-align: left;
  padding: 20px;
  box-shadow: 0 2px 5px gray;
}

.member img {
  width: 100%;
}

.member h3 {
  font-weight: 400;
  font-size: 24px;
}

.member .position {
  opacity: 0.6;
}
.member a{
  display: inline-block;
  width: 100%;
  background-color: #055b73;
  border-radius: 10px;
  text-decoration: none;
  color:#000000;
  padding: 14px 0;
  text-align: center;
}
.tariff li{
  list-style-type:none;
  border:1px solid black;
  padding:16px 0;
  border-radius: 5px;
}
.tariff-name{
  color:#ffffff;
  background-color:#000000;
  font-size:24px;
  padding:32px 0;
}
.best{
  background-color:#055b73;
  padding:48px 0;

}
.tariff {
  display: inline-block;
  width: 30%;
  margin: 10px ;
  vertical-align: middle;
  background-color:#ffffff;
  padding: 0;
  text-align: center;

}
.tariff button{
  padding: 8px 16px;
  background-color:#055b73;
  outline: none;
  border-radius: 10px;

}
#prices{
  text-align: center;
  background-color:#616161; 
}
#contact{
  background-color:#f1f1f1;
  text-align: center;
  padding: 40px 0;
}
.contact-addres{
  background-image:url(address.png);
}
.contact-phone{
  background-image:url(phone.png);
}
.contact-mail{
  background-image:url(mail.png);
}
.contact-info{
  text-align: left;
  padding-left: 30px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size:18px 18px;
  margin-left: 5%;
}
#contact input{
  padding:8px;
  width: 90%;
}
#contact button{
  background-color:#000000;
  color:#ffffff;
  padding:8px 16px;
  cursor: pointer;
  border:none;
  outline: none;
}
#contact button:hover{
  background-color:#ffffff;
  color:#000000;
  
}